
.card {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    max-width: 200px;
    margin: 1px;
    border-radius: 8px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.image-box {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    box-sizing: border-box;
}

.image-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
    box-sizing: border-box;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    background: rgba(68, 248, 134, 0.326);
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

.content p {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.content h2 {
    width: 100%;
    height: auto;
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid black;
    border-radius: inherit;
    opacity: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
}

.card:hover img {
    filter: grayscale(1) brightness(0.4);
}

.card:hover::after {
    opacity: 1;
    inset: 10px;

}

.card:hover .content {
    opacity: 1;
}